*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.text-justify{
    text-align: justify;
}

header .tophead{
    height: 28px;
    background-color: #34313a;
}
header .tophead .leftgroup ul li{
    margin: 0px 20px;
}
header .tophead ul li a{
    color: #fff;
    font-size: 13px;
}
header .tophead .leftgroup ul li a.active{
    width: auto;
    height: auto;
    color: #b00000;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    position: relative;
    background: #fff;
    display: inline-block;
}
header .tophead .leftgroup ul li a:hover{
    text-decoration: underline;
}
header .tophead .rightgroup ul li a{
    margin: 0px 15px;
}
header .tophead .rightgroup ul li select{
    background-color: #34313a;
    border: none;
    color: #fff;
    font-size: 13px;
}

/* Slider Section Start */
.carousel-inner .carousel-item{
    height: 400px;
}

@keyframes zoomin{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.3);
        }
}
.carousel-inner .carousel-item img{
    animation: zoomin 20s infinite;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.carousel-inner .carousel-item .carousel-caption{
    bottom: 5rem;
}
.carousel-indicators{
    bottom: 3.5rem;
}
/* Slider Section Start */
/* International Removal Section start */
.interbox{
    z-index: 9;
    min-height: 200px;
    margin-top: -50px;
    background: #fff;
}
.interbox{
    font-size: 17px;
    color: rgb(22, 21, 21);
}
.interbox a{
    color: #b00000;
}
/* International Removal Section start */



/* Media Query start */
@media only screen and (max-width: 1023){
    header .tophead{
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 13px !important;
    }
@media only screen and (max-width: 768px){
    .carousel-inner .carousel-item .carousel-caption{
        bottom: 9.5rem !important;
    }
    .carousel-indicators{
        bottom: 9rem !important;
    }
}
}
/* Media Query End */