*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.text-justify{
    text-align: justify;
}

.fw-6{font-weight: 600;}

header .tophead{
    height: 28px;
    background-color: #34313a;
}
header .tophead .leftgroup ul li{
    margin: 0px 20px;
}
header .tophead ul li a{
    color: #fff;
    font-size: 13px;
}
header .tophead .leftgroup ul li a.active{
    width: auto;
    height: auto;
    color: #b00000;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    position: relative;
    background: #fff;
    display: inline-block;
}
header .tophead .leftgroup ul li a:hover{
    text-decoration: underline;
}
header .tophead .rightgroup ul li a{
    margin: 0px 15px;
}
header .tophead .rightgroup ul li select{
    background-color: #34313a;
    border: none;
    color: #fff;
    font-size: 13px;
}

/*Navbar Section start */
nav a{
    font-size: 14px !important;
    font-weight: 600 !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
}
#mega-menu {
    display: none;
    position: absolute;
    background: #34313a;
    left: 0;
    right: 0;
    z-index: 9;
}
#mega-menu .choose-us {
    padding-left: 100px;
    padding-right: 50px;
}
#mega-menu .choose-us .abc:hover {
    transform: scale(1.05);
    transition: 0.3s all;
}
/*Navbar Section End */

/* Slider Section Start */
/*.carousel-inner .carousel-item{
    height: 500px;
}*/


.carousel-inner .carousel-item img{
    animation: zoomin 20s infinite;
    filter: brightness(50%);
}
.carousel-dark .carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.carousel-inner .carousel-item .carousel-caption{
    bottom: 5rem;
}
.carousel-indicators{
    bottom: 3.5rem;
}
/* Slider Section Start */
/* International Removal Section start */
.interbox{
    z-index: 9;
    min-height: 200px;
    margin-top: -50px;
    background: #fff;
}
.interbox{
    font-size: 17px;
    color: rgb(22, 21, 21);
}
.interbox a{
    color: #b00000;
}
/* International Removal Section start */

/* Indivisual Copporation start */
    .imgbox{
        overflow: hidden;
    }
    .imgbox img:hover{
        transition: 1s all;
        transform: scale(1.1);
    }

    .container .bttn {
        background-color: red;
        
    }

/* Indivisual Copporation start */

/* Domestic Section start */
.domestic{
    background: #34313a;
}
.domestic img:hover{
    transform: scale(1.1);
}
/* Domestic Section End */


/* keyframe Section Start */
@keyframes zoomin{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}
/* Keyframe Section End */


/* Media Query start */
@media only screen and (max-width: 1023px){
    header .tophead{
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 13px !important;
    }
@media only screen and(min-width:992px){
    .carousel-inner .carousel-item .carousel-caption{
        bottom: 5rem;
    }
}
/*
@media only screen and (max-width: 768px){
    .carousel-inner .carousel-item .carousel-caption{
        bottom: 9.5rem !important;
    }
    .carousel-indicators{
        bottom: 9rem !important;
    }
}
}*/
/* Media Query End */